<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UI</key>
	<dict>
		<key>UI_emptyButtonBgColor</key>
		<string>222222</string>
		<key>UI_keyboardBgColor</key>
		<string>28292c</string>
		<key>UI_keyboardBgColor2</key>
		<string>111112</string>
		<key>UI_keyboardSelectedBgColor</key>
		<string>0b0c0c</string>
		<key>UI_keyboardTextColor1</key>
		<string>ffffff</string>
		<key>UI_keyboardTextColor2</key>
		<string>4690ef</string>
		<key>UI_searchBarBgColor</key>
		<string>3e4044</string>
		<key>UI_searchBarCancelTextColor</key>
		<string>E2E2E2</string>
		<key>UI_searchBarTFBgColor</key>
		<string>232325</string>
		<key>UI_searchKeyboardBgColor</key>
		<string>111112</string>
		<key>UI_searchKeyboardBgColor2</key>
		<string>28292c</string>
		<key>UI_statusLabelBGColor</key>
		<string>424345</string>
		<key>UI_switchMainTitleColor</key>
		<string>ffffff</string>
	</dict>
	<key>common</key>
	<dict>
		<key>common_bgColor</key>
		<string>111112</string>
		<key>common_borderColor</key>
		<string>3d3f42</string>
		<key>common_cellBgColor</key>
		<string>181818</string>
		<key>common_contentColor</key>
		<string>8e8e8e</string>
		<key>common_defaultHighLightColor</key>
		<string>4a8eef</string>
		<key>common_defaultNormalColor</key>
		<string>808080</string>
		<key>common_fallColor</key>
		<string>00a727</string>
		<key>common_fallRectColor</key>
		<string>2a7312</string>
		<key>common_fallShapeColor</key>
		<string>5196ef</string>
		<key>common_menuHighlightedColor</key>
		<string>4690ef</string>
		<key>common_menuNormalColor</key>
		<string>727272</string>
		<key>common_messageNoDataTipsColor</key>
		<string>585858</string>
		<key>common_navbarItemTextColor</key>
		<string>969696</string>
		<key>common_navbarTintColor</key>
		<string>222325</string>
		<key>common_navbarTitleColor</key>
		<string>ffffff</string>
		<key>common_riseColor</key>
		<string>f5380a</string>
		<key>common_riseRectColor</key>
		<string>a63401</string>
		<key>common_segmentBgColor</key>
		<string>28292c</string>
		<key>common_segmentBGColor</key>
		<string>f2f1ee</string>
		<key>common_seletedTableViewCellBgColor</key>
		<string>1d1d21</string>
		<key>common_simpleTableViewCellBgColor</key>
		<string>28292c</string>
		<key>common_stockCodeColor</key>
		<string>8e8e8e</string>
		<key>common_tabbarBgColor</key>
		<string>191a1c</string>
		<key>common_tabbarBorderColor</key>
		<string>37393e</string>
		<key>common_tabbarSeperateLineColor</key>
		<string>4c4d52</string>
		<key>common_tableAccessoryColor</key>
		<string>7c7f83</string>
		<key>common_tableBackgroundColor</key>
		<string>111112</string>
		<key>common_tableSeperateColor</key>
		<string>3d3f42</string>
		<key>common_tableViewDivideLineColor</key>
		<string>28282b</string>
		<key>common_textColor</key>
		<string>ffffff</string>
		<key>common_toolbarTintColor</key>
		<string>28292c</string>
		<key>common_volumeColor</key>
		<string>4690ef</string>
	</dict>
	<key>font</key>
	<dict>
		<key>font_buttonFont</key>
		<string>ArialRoundedMTBold</string>
		<key>font_bodyFontSize</key>
		<string>17</string>
		<key>font_bodyFont</key>
		<string>AppleSDGothicNeo-Medium</string>
		<key>font_commitButtonFont</key>
		<string>bold</string>
		<key>font_numberKeyboardFontSize</key>
		<string>24</string>
		<key>font_headerFont</key>
		<string>ArialRoundedMTBold</string>
		<key>font_stockListNameFontSize</key>
		<string>16</string>
		<key>font_stockListNameFont</key>
		<string>bold</string>
		<key>font_textFontSize</key>
		<string>15</string>
		<key>font_minTextFontSize</key>
		<string>12</string>
		<key>font_buttonFontSize</key>
		<string>20</string>
		<key>font_commitButtonFontSize</key>
		<string>19</string>
		<key>font_headerFontSize</key>
		<string>30</string>
		<key>font_priceFontSize</key>
		<string>12</string>
		<key>font_stockListPriceFontSize</key>
		<string>16</string>
		<key>font_stockListPriceFont</key>
		<string>bold</string>
		<key>font_barTitleFontSize</key>
		<string>17</string>
	</dict>
	<key>statusBar</key>
	<dict>
		<key>statusBarBgColor</key>
		<string>111112</string>
	</dict>
</dict>
</plist>
